html, body {
  width: 100%;
  height: 100%;
}

.App {
  text-align: center;
  background-color: #EFFAFA;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 15px;
  color:#1E2929;
  background-size: cover;
}

.App-Header {
  background-size: 100%;
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
}

.attribution { 
  font-size: 11px;
  text-align: center;
  position:fixed;
  bottom:0;
  padding-bottom: 1em; 
}

.attribution a {
  color: hsl(228, 45%, 44%); 
}
